@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
}
/* HEADER */
header {
  border-bottom: 4px solid black;
}

main {
  width: 100%;
  border: solid 1px red;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  background-color: red;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  color: white;
  font-size: 20px;
}

/* BANNER */

.banner {
  height: 70vh;
  background-image: url("../IMG/1351146.png");
  background-size: cover;
  border-radius: 15px;
}

/* SOCIAL */

.container{
  display: flex;
  height: 360vh;
  flex-direction: column;
}

.box-Home{
  display: flex;
  width: 100%;
  height: 90vh;
  border: 1px solid red;
}

.box-tipos{
  display: flex;
  width: 100%;
  height: 90vh;
  border: 1px solid green;
}

.box-jogos{
  display: flex;
  width: 100%;
  height: 90vh;
  border: 1px solid yellow;
}

.box-sobre{
  display: flex;
  width: 100%;
  height: 90vh;
  border: 1px solid black;
}

/* FOOTER */

footer {
  display: flex;
  background-color: gray;
  justify-content: center;
  align-items: center;
  align-self: center;
}
