@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
}

/* HEADER */
header {
  width: 100%;
  border-bottom: 4px solid black;
  position: fixed;
}

main {
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.logo{
  display: flex;
  width: 13%;
  height: 100%;
}
.logo img{
  width: 100%;
}

.navbar {
  display: flex;
  background-color: #771212;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  color: white;
  font-size: 20px;
}

.logo {
  display: flex;
}

.sessoes {
  display: flex;
}

.botao {
  display: flex;
}

.botao button {
  width: 110px;
  height: 35px;
  border: 0px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 18px;
  transition: 0.5s;
}

.botao button:hover {
  transition: 0.5s;
  background-color: white;
  border-radius: 5px;
  color: #771212;
  font-size: 20px;
}

/* BANNER */

.banner {
  height: 100vh;
  background-image: url("../IMG/1351146.png");
  background-size: cover;
  border-radius: 15px;
}

/* SOCIAL */

.container {
  display: flex;
  height: 385vh;
  flex-direction: column;
}

.box-Home {
  display: flex;
  width: 100%;
  height: 70vh;
  justify-content: center;
}

.box-Home .texto {
  display: flex;
  width: 70%;
  height: auto;
  padding: 4%;
}

.texto {
  font-size: 23px;
  justify-content: space-evenly;
  padding: 15px;
  flex-direction: column;
}

.slider_tipos {
  display: flex;
  width: 100%;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-container {
  width: 77%;
  height: 90vh;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  border-radius: 15px;
}

.slider-container img {
  height: 100%;
  border-radius: 15px;
}

.slide-element {
  background-color: red;
  height: 100%;
  min-width: 100%;
}

.seletores {
  margin-top: 10px;
  display: flex;
  width: 100%;
  gap: 30px;
  justify-content: center;
}

#seletor1 {
  width: 30px;
  height: 30px;
  border: solid 1px black;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.6s;
}

#seletor1:hover {
  border: 1px solid rgb(57, 123, 185);
  background-color: rgb(57, 123, 185);
}

#seletor2 {
  width: 30px;
  height: 30px;
  border: solid 1px black;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.6s;
}

#seletor2:hover {
  border: 1px solid rgb(255, 145, 239);
  background-color: rgb(255, 145, 239);
}

#seletor3 {
  width: 30px;
  height: 30px;
  border: solid 1px black;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.6s;
}

#seletor3:hover {
  border: 1px solid rgb(185, 106, 52);
  background-color: rgb(185, 106, 52);
}

#seletor4 {
  width: 30px;
  height: 30px;
  border: solid 1px black;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.6s;
}

#seletor4:hover {
  border: 1px solid rgb(55, 156, 52);
  background-color: rgb(55, 156, 52);
}

#seletor5 {
  width: 30px;
  height: 30px;
  border: solid 1px black;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.6s;
}

#seletor5:hover {
  border: 1px solid rgb(155, 75, 201);
  background-color: rgb(155, 75, 201);
}

#seletor6 {
  width: 30px;
  height: 30px;
  border: solid 1px black;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.6s;
}

#seletor6:hover {
  border: 1px solid rgb(17, 219, 255);
  background-color: rgb(17, 219, 255);
}

#seletor7 {
  width: 30px;
  height: 30px;
  border: solid 1px black;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.6s;
}

#seletor7:hover {
  border: 1px solid rgb(241, 239, 92);
  background-color: rgb(241, 239, 92);
}

#seletor8 {
  width: 30px;
  height: 30px;
  border: solid 1px black;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.6s;
}

#seletor8:hover {
  border: 1px solid rgb(99, 89, 75);
  background-color: rgb(99, 89, 75);
}

#seletor9 {
  width: 30px;
  height: 30px;
  border: solid 1px black;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.6s;
}

#seletor9:hover {
  border: 1px solid rgb(53, 9, 94);
  background-color: rgb(53, 9, 94);
}

.box-jogos {
  display: flex;
  width: 100%;
  height: 130vh;
  padding-top: 5%;
  flex-direction: column;
  justify-content: space-around;
}

.jogo1 {
  display: flex;
  width: 100%;
  height: 27%;
  justify-content: space-evenly;
}

.desc-jogo1 {
  display: flex;
  width: 50%;
  justify-content: center;
  flex-direction: column;
  padding: 2%;
}

.desc-jogo1 span {
  font-size: 22px;
}

.imagemjogo1 {
  border: 1px black solid;
  width: 20%;
  background-image: url("../IMG/imagem\ Black\ e\ white.jfif");
  background-size: 380px 305px;
  background-repeat: no-repeat;
  border-radius: 9px;
}

.jogo2 {
  display: flex;
  width: 100%;
  height: 27%;
  justify-content: space-evenly;
}

.desc-jogo2 {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-right: 2%;
}

.imagemjogo2 {
  border: 1px black solid;
  width: 20%;
  background-image: url("../IMG/imagem\ HeartGold.jfif");
  background-size: 380px 305px;
  border-radius: 9px;
}

.desc-jogo2 span {
  font-size: 22px;
}

.jogo3 {
  display: flex;
  width: 100%;
  height: 27%;
  justify-content: space-evenly;
}

.desc-jogo3 {
  display: flex;
  width: 50%;
  justify-content: center;
  flex-direction: column;
  padding: 2%;
}

.imagemjogo3 {
  border: 1px black solid;
  width: 20%;
  background-image: url("../IMG/imagem\ poKémon\ pearl.jfif");
  background-size: 380px 305px;
  border-radius: 9px;
}

.desc-jogo3 span {
  font-size: 22px;
}

.box-sobre {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.sobre {
  display: flex;
  width: 90%;
  height: 90%;
}

.conteudo {
  display: flex;
  width: 60%;
  padding: 3%;
  flex-direction: column;
}

.subTitulo {
  display: flex;
  font-size: 25px;
}

.subTitulo h1 {
  font-weight: 700;
}

.descricao {
  display: flex;
  width: 100%;
  height: 90%;
  flex-direction: column;
}

.descricao span {
  font-size: 25px;
}

.foto {
  display: flex;
  width: 35%;
  padding: 3%;
  justify-content: center;
  align-items: center;
}

.moldura-foto {
  display: flex;
  width: 70%;
  height: 80%;
  background-image: url("../IMG/para\ o\ git.jfif");
  background-size: cover;
  border-radius: 10px;
}

/* FOOTER */

footer {
  display: flex;
  background-color: #771212;
  justify-content: center;
  align-items: center;
  height: 6vh;
  align-self: center;
}

footer p {
  color: white;
}