@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


body {
    margin: 0;
    padding: 0;
    background-color: rgb(56, 56, 56);
    font-family: "Barlow", sans-serif;

}

.container {
    display: flex;
    width: 100%;
    height: 97vh;
    flex-direction: column;
    /* border: 3px solid red; */
}

.voltar_usuario {
    display: flex;
    width: 100%;
    justify-content: start;
    /* border: 1px solid green; */
    height: 8vh;
    align-items: center;
    /* margin-left: 5px; */
}

.voltar_usuario button {
    display: flex;
    width: 80px;
    height: 4vh;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(56, 56, 56);
    color: white;
    transition: 0.5s;
    font-size: 18px;
    margin-left: 9px;
}

.voltar_usuario button:hover {
    display: flex;
    background-color: white;
    color: black;
    transition: 0.5s;
    font-size: 20px;
}

.contador {
    display: flex;
    width: 100%;
    height: 5vh;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
}

.box {
    width: 100%;
    /* border: 1px solid red; */
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pergunta {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.img_pergunta {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    border-radius: 15xp;
}

.img_pergunta img {
    display: flex;
    width: 40%;
    border-radius: 10px;

}

.botoes_respostas {
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.botoes_respostas button {
    display: flex;
    width: 40%;
    height: 6vh;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 4px;
    font-size: 17px;
}

.botoes_respostas button:hover {
    display: flex;
    background-color: #771212;
    border: white 2px solid;
    color: white;
    transition: 0.3s;
}

.mensagem_final {
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}

.mensagem_final h1{
    display: flex;
    font-size: 60px;
}

.caixa_final {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.titulo_f {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-self: flex-end;
    font-size: 25px;
}

.frase_f {
    display: flex;
    width: 100%;
    height: 60%;
    flex-direction: column;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.botao_reiniciar {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    
}

.botao_reiniciar button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 6vh;
    cursor: pointer;
    background-color: #771212;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    transition: 0.3s;
}
.botao_reiniciar button:hover{
    display: flex;
    font-size: 20px;
    background-color: black;
    width: 16%;
    height: 7vh;
    transition: 0.3s;

}

#spn_acertos {
    color: green;
}

#spn_erros {
    color: red;
}

#div_pergunta1 {
    display: block;
}

#div_pergunta2 {
    display: none;
}

#div_pergunta3 {
    display: none;
}

#div_pergunta4 {
    display: none;
}

#div_pergunta5 {
    display: none;
}

#div_pergunta6 {
    display: none;
}

#div_pergunta7 {
    display: none;
}

#div_pergunta8 {
    display: none;
}

#div_pergunta9 {
    display: none;
}

#div_pergunta10 {
    display: none;
}

#div_final {
    display: none;
}